/*初始化样式*/
body,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
button,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: middle;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "PingFang SC","Helvetica Neue",Helvetica,"Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
}

/* * {
  -moz-user-select:none; 
  -webkit-user-select:none; 
  -ms-user-select:none; 
  -khtml-user-select:none; 
  -o-user-select:none; 
  user-select:none; 
} */

html,body {
  width:100%;
  height: 100%;
}
body {
  background-color: #f7f7f7;
  box-sizing: border-box;
  position: relative;
  /*-webkit-user-select: none;*/
  /*-webkit-text-size-adjust: none;*/
}
header,
section,
footer {
  display: block;
  margin: 0;
  padding: 0;
}
img {
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
button {
  outline: 0;
  border: none;
}
button::-moz-focus-inner {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
p,
span,
a {
  -webkit-user-select: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
button {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: none;
  font-family: "PingFang SC","Helvetica Neue",Helvetica,"Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
}
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none ;
  appearance: normal;
  -moz-appearance: none;
}
*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: none;
}
a:link,
a:visited {
  outline: none;
}
a:visited {
  color: #666;
}
a:hover {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: none;
}
a:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: none;
}
.el-dialog--center .el-dialog__body {
  text-align: left;
}
